{% extends 'layout.twig' %}

{% block header %}
    <div class="logo"></div>
    <nav>
        <a href="/" class="navitem">Play</a><!--
     --><a href="/?page=habits" class="navitem active">Habits</a><!--
     --><a href="/?page=settings" class="navitem">Settings</a><!--
     --><a href="/?logout=1" class="navitem right">Logout</a><!--
--></nav>
{% endblock %}

{% block main %}

    <div class="current_habits" id="current_habits">
        {% for habit in habits %}
            <div class="habit" id="habit_{{ habit.id }}">
                <h2>{{ habit.title }}</h2>
                <div class="description">{{ habit.description }}</div>
                <button class="pass_btn" data-habit-id="{{ habit.id }}">Pass</button>
                <button class="fail_btn" data-habit-id="{{ habit.id }}">Fail</button>

                <div class="errorbox" id="habit_error"></div>

                {% set levels = habit.level_amounts|split('|') %}
                {% set level = levels[habit.level - 1] %}

                <div class="level">
                    {% set level_amounts = level|split('-') %}
                    Points Earned: <span class="points">{{ habit.points|number_format(2, '.', ',')  }}</span> <br />
                    Current Streak: <span class="streak">{{ habit.streak }}</span> <br />
                    Current Fails: <span class="fails">{{ habit.fails }}</span> <br />
                    Points on Next Pass: <span class="next">{{ level_amounts[1] }}</span> <br />
                    Last Pass: <span class="last">{{ habit.lastsuccess }}</span> <br />
                    Percent: <span class="percent">{{ habit.percent }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="newhabit">
        <form id="new_habit_form">
            <label for="title">Title:</label>
            <input type="text" name="title" maxlength="50">
            <div class="errorbox" id="title_error">This is a error</div>
            <br />

            <label for="description">Description:</label>
            <textarea name="description" id="" cols="30" rows="10" maxlength="250"></textarea>
            <div class="errorbox" id="description_error">This is a error</div>
            <br />

            {# TODO:: Daily, Weekly, Monthly #}
            {#
            <label for="type">Type:</label>
            <select name="type">
                <option value="1"></option>
            </select>
            <br />
            #}

            <div class="levels">
                <div class="level">
                    <h3>Level 1</h3>
                    <label for="level_1_amount">Amount:</label>
                    <input type="number" name="level_1_amount" min="1">
                    <div class="errorbox" id="level_1_amount_error">This is a error</div>
                    <br />
                    <label for="level_1_points">Points per day:</label>
                    <input type="number" name="level_1_points" min="1">
                    <div class="errorbox" id="level_1_points_error">This is a error</div>
                    <input type="hidden" name="level_1_unlocks" value="0">
                </div>
                <button id="add_new_habit_level" type="button">Add Level</button>
            </div>
            <br />

            <div class="errorbox" id="db_error">This is a error</div>
            <input type="hidden" name="form_type" value="add">
            <input type="hidden" name="levels" value="1" id="levels_amount">
            <button id="submit_habit" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
